*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;


}

header{
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    height: 70vh;
    background-repeat:no-repeat ;
    background-size: cover;
}
nav{
display: flex ;
justify-content: space-around;
height: 72px;
margin-bottom: 15px;
padding-top: 20px;

}
a{
color: #fff;
text-decoration: none;
font-size: 15px;

}
#option ul {
    color: #fff;
    display: flex;
    gap: 40px;
    width: 300;
    

}
#main{
    height: calc(70vh-72px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main #logo img{
    width: 330px;
    
}
#main #title h1{
    color: #fff;
    font-weight: 300;
    margin: 30px 0px;
}
#serachcontainer{
    display: flex;
    background-color: #fff;
    width: 55%;
    border-radius: 10px;
    padding: 18px 28px;
}

#serachcontainer #city{
    border-right: 2px solid #cfcfcf;
    padding-right: 28px;
    margin-right: 40px;
}

#serachcontainer input{
    border: none;
}
#serachcontainer#restuarent{
    margin-left: 20px;
}
#restuarent span{
    margin-right: 10px;
    padding-right:20x;
}
#main-body{
    width: 100%;
    max-width: 1270px;
    margin: 0 auto 60px;
    margin-top:100px;
}
#services{
    height: 250px;
    width: 100%;
    gap: 25px;
    overflow: hidden;
    display: flex;
}
#services #option{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 15px;
    justify-content: space-evenly;
}
#services #option#img{
    height: 100%;
    width: 100%;
    border-radius: 1 5px;
    size: 20px;


}
#option #img img{
    /* height: 100%; */
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: bottom center;
}
#info{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border: 3px solid #eee;
    padding: 15px 20px;
    border-radius: 0 0 13px 13px;
    line-height: 30px;
}
#info h2{
    color: #363636;
    font-size: 22px;
    font-weight: 600;

}
#info p{
    color: #4f4f4f;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#col-title {
    font-size: 6px;
}
#col-title a{
    color:#363636;
}


/* .....collection...... */
#collections{
    margin-bottom: 30px;
    margin-top: 70px;
    line-height: 42px;
}
#col-title h2{
    font-size: 36px;
    color: #1c1c1c;
    font-weight: 500;
}
#col-discription{
    display: flex;
    justify-content: space-between;
}
#col-discription p{
   font-size: 20px;
   color: #363636;
}
#col-discription a{
    font-size: 16px;
    color: #ef4f5f;
 }
 #col-list{
    height: 360px;
    display: flex;
    overflow: hidden;
    gap: 10px;
    margin-top: 30px;
 }
 #list-item{
    height: 100%;
    width: 100%;
    max-width: 25%;
    position: relative;
 }
 #list-item #list-image{
    height: 100%;
    width: 100%;
 }
 #list-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
 }
 #overlay{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
 }
 #list-discription {
    position: absolute;
    bottom: 0;
    padding: 0 16px 11px 16px;
    line-height: 25px;
 } 
 #list-discription p{
   color: #fff;
   font-size: 19px;
 }
 #list-discription h6{
   color: #fff;
   font-size: 14px;
   font-weight: 400;

 }
 /* ///////location/////// */
 #location{
    margin-bottom: 100px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#location-title{
    margin-bottom: 40px;
}

#location-title p{
    font-size: 36px;
    color: #363636;
}

#location-title p span{
    font-weight: 600;
}



#places{
    border: 1px solid #e8e8e8;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: #1c1c1c14 0px 1.4px 2.8px ;
}


#placename{
    line-height: 30px;
}

#placename h5{
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 500;
}

#placename p{
    font-size: 16px;
    color: #363636;
}

#location-container{
   width: 32%;
  
}


#location-parent{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px; 
}
#see{
    width: 32%;
    height: 100%;
    line-height: 10px;
    border:  1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: #1c1c1c14 0px 1.4px 2.8px ;
}
#see p{
    margin: 34px 33px ;
}

#see i{
    margin: 34px 33px ;
}


/* ......app-section..... */

#app-section{
    background-color: #fffbf7;
}
#app-contenar{
    /* background-color: #fff; */
    height: 450px;
    width: 950px;
    display: flex;
    align-items: center;
    margin: auto;
    
}

#mobile-image{
    height: 100%;
    width: 50%;
    margin-right: 20px;
}

#mobile-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#app-info{
    width: 50%;
    margin-left: 20px;
}

#app-title h2{
    font-size: 44px;
    color: #1c1c1c;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 56px   ;
}

#app-title p{
    font-size: 16px;
    color: #363636;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 32px;
}

#option{
    width: 50%;
    display: flex;
    justify-content: end;
}

.option1 input{
    font-size: 16px;
    color: #1c1c1c;
}
input[type="radio"]{
    accent-color: #ef4f5f;
    height: 15px;
    width: 16px;
    margin-right: 12px;
}

#email-input-container{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 20px;
}

#email-input-container input{
    padding: 13px 12px;
    outline: none;
    border: 1px solid #cfcfcf;
    width: 100%;
    border-radius: 6px;

}



#email-input-container button{
    
    border: none;
    min-width: 150px;
    padding: 15px 0px;
    border-radius: 6px;
    background-color: #ef4f5f;
    color: #fff;
    font-size: 20px;

}
#store p{
    font-size: 15px;
    color: #9c9c9c;
}
#store-logo{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
#store-logo img{
    width: 137px;
}

.zomato-heading{
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

/* //////footer...... */


footer{
    background-color: #f8f8f8;
    padding: 48px 0 22px;
}

#footer-container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#footer-logo img{
    width: 132px;
}

#footer-select{
    display: flex;
    gap: 20px;
}

.select-options{
    border: 1px solid #b5b5b5;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 6px;
}

#footer-middle{
    display: flex;
    justify-content: space-between;
}

.footer-links h6{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.footer-links ul{
    list-style-type: none;
    font-size: 14px;
    color: #1c1c1c;
    font-weight: 300;
    line-height: 25px;
}

#social-links{
    margin-right: 40px;
}

#social-icons{
    margin-bottom: 25px;
}

#social-icons i{
    margin-right: 10px;
}

#download-app img{
    width: 137px;
}

#download-app{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


  #explore{
    margin-bottom: 30px;
    margin-top: 70px;
    line-height: 42px;
}
  #popular p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  details {

    justify-content: center; /* Centers horizontally */
    align-items: center;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 450px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fefefe;
  }

  summary {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    margin-bottom: 10px;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    content: "▾";
    font-size: 12px;
    float: right;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  details[open] summary:after {
    transform: rotate(180deg);
  }

  .content {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }

  .content span {
    margin-right: 8px;
  }
#footer-container hr{
    margin: 50px 0 23px 0;
}

#footer-bottom p{
    font-size: 13px;
    color: #4f4f4f;
    font-weight: 400;
    line-height: 17px;
}